.Occasion {
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.occasion-text {
  display: flex;
  flex-direction: row;
}

.occasion-text span {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 51.2px;
  text-align: left;
  color: #050505;
  text-decoration: none;
  margin-right: 10px;
}
.occasion-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; 
  margin-top: -13px;
}

.occasion-list li {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 35.2px;
  text-align: left;
  margin-top: 5px;
  margin-right: 10px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .Occasion {
    margin:0;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .occasion-text {
    flex-wrap: wrap; 
  }

  .occasion-text span {
    margin-bottom: 10px; 
  }
  .occasion-text span {
    font-size: 22px;
    font-weight: 500;
    line-height: 41.2px;
    text-align: left;
   margin-right: 7px;
  }

  .occasion-list li {
    margin: 0; 
    padding: 10px; 
    font-size: 16px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
    margin-top: 2.5px;
    margin-right: 8px;
    padding: 10px;
  }
}
